<%= #if logged_in? %>
<% #ログイン後のこと %>
  
<%= #else logged_in? %>
<% #ログイン前のこと %>
<div class="row">
  <h1>ランディングページ</h1>
  <section class="facebooklogin">
    <%= link_to "Facebookログイン", root_path %>
  </section>
</div>
<%= #end %>