<div class="center jumbotron">
  <h1>Instagram アプリ<br>ランディングページ</h1>
  <section class="facebooklogin">
    <%= link_to "Facebookログイン", new_session_path, class: "btn btn-lg btn-primary" %>
  </section>
</div>