<% if logged_in? %>
  <div class="col-md-8">
      <h3>Photo Feed</h3>
      <%= render 'shared/feed' %>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <h1>Instagram アプリ<br>ランディングページ</h1>
    <section class="facebooklogin">
      <%= link_to "ゆーざーログイン", login_path, class: "btn btn-lg btn-primary" %>
    </section>
    
    <div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
    
    
  </div>
<% end %>  