<!--<tbody>-->
<!--  <% @search_comments.each do |search_comment| %>-->
<!--    <% photo = Photo.find_by(id: search_comment.photo_id) %>-->
<!--    <tr>-->
<!--      <td><%= search_comment.comment %></td>-->
<!--      <td>-->
<!--        <%= link_to photo_path(photo.id), local: true do %>-->
<!--        <%= image_tag photo.display_image %>-->
<!--        <% end %>-->
<!--      </td>-->
<!--    </tr>-->
<!--  <% end %>-->
<!--</tbody>-->