<%= current_user.photos.each do |photo| %>
<div class="row">
  <div class="col-md-4">
    <%= image_tag photo.display_image %>
  </div>
  <div class="col-md-4">
    <%= render 'shared/feed' %>
    <section>
      <% @photos = photo %>
      <%= render 'shared/comment_form' %>
    </section>    
  </div>
  <div class="col-md-4">
    <section>
      お気に入り機能
    </section>
  </div>
</div>
<% end %>
