<%= @user.photos.each do |photo| %>
  <% image = image_tag photo.display_image %>
      <div class="col-md-4"><%= link_to image, photo_path(photo.id), remote: true %></div>
      <div id="photo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>

