<li id="photo-<%= photo.id %>">
  <span class="photo">
    <%= image_tag photo.display_image %>
  </span>
</li>

<ol class="comments">
    <% @comments = photo.comments %>
    <%= render @comments %>
</ol>

<section class="comment_form">
    <% @photo = photo %>
    <%= render 'shared/comment_form' %>
</section>

